@import "mocha.css";

* {
    font-family: "JetBrainsMono Nerd Font Propo", sans-serif;
    font-size: 16px;
    font-weight: bold;
}

window#waybar {
    background: transparent;
    color: @overlay0;
    transition-property: background-color;
    transition-duration: 0.1s;
}

#window {
    color: @text;
    margin: 0 12px;
    font-weight: normal;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    color: @mauve;
}

#workspaces button {
    transition: 200ms all;
}

#workspaces button.focused {
    background-color: rgba(0, 0, 0, 0.3);
    color: @rosewater;
    border-top: 2px solid @rosewater;
}

#workspaces button.active {
    background-color: @blue;
    color: @crust;
    /* border-top: 2px solid @mauve; */
    /* border-bottom: 2px solid @mauve; */
}

#workspaces button.urgent {
    background-color: @red;
}

#pulseaudio,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#mode,
#keyboard-state,
#custom-kanata-layer,
#scratchpad {
    padding: 0 16px;
    margin: 0 4px;
}

#clock {
    background: @base;
    color: @text;
}

#pulseaudio {
    background: @base;
    color: @text;
}

#network {
    background: @base;
    color: @text;
}

#idle_inhibitor {
    color: #7cb342;
}

#idle_inhibitor.activated {
    color: @red;
}

#battery {
    color: @green;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

#custom-kanata-layer {
    background: @overlay1;
    color: @crust;
}

#custom-kanata-layer.numbnocaps {
    background: @red;
}

#custom-kanata-layer.symbnocaps {
    background: @green;
}

#custom-kanata-layer.mousenocaps {
    background: @sky;
}

#custom-kanata-layer.ctrlsnocaps {
    background: @mauve;
}

#custom-kanata-layer.basecaps,
#custom-kanata-layer.symbcaps,
#custom-kanata-layer.numbcaps,
#custom-kanata-layer.mousecaps,
#custom-kanata-layer.ctrlscaps {
    background: @yellow;
}
